.main {background-color: rgb(229, 164, 43);}
.cajerokorz {height: 550px;}
.botonjuan {bottom:5px; background-color: aliceblue;}
.botonmario {background-color: aliceblue;}
.botoncarlos {background-color: aliceblue;}
.body {background-color:rgb(96, 198, 198)}
.signin {height: 200px;}
.OPJuan {background-color: bisque;}
.OPMario {background-color: bisque;}
.OPCarlos {background-color: bisque;}
.cajero {height: 550px;}
